@model AspNetBlog.Models.Post[]

@{
    Layout = "_Layout";
}

<h1>An error has occured!</h1>

<nav class="hide">
    <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</nav>